@import "../../styles/variable";
.theater {
  padding: 10px;
  margin: 20px;
  width: calc(100% - 60px);
  height: 77px;
  text-align: left;
  border-top-right-radius: 8px;
  box-shadow: $item-shadow;
  &:last-of-type {
    margin-bottom: 200px;
  }
  .theater-name {
    font-size: $f-md;
    font-weight: $primary;
    margin-left: 64px;
  }
  .info {
    color: $grey;
    display: flex;
    span {
      display: block;
      line-height: 24px;
      overflow: hidden;
      &:nth-child(1) {
        width: 80%
      }
      &:nth-child(2) {
        width: 20%;
        text-align: right;
      }
    }
  }
}
